<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcxyfmWvlmHdyz5ed_QcJu1tWnZmVbrSU</string>
	<key>GCM_SENDER_ID</key>
	<string>788765359485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clk</string>
	<key>PROJECT_ID</key>
	<string>clk-de7ae</string>
	<key>STORAGE_BUCKET</key>
	<string>clk-de7ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788765359485:ios:20ce11efdecf4aa6ce6014</string>
</dict>
</plist>